/** @format */

blue-text-bracket,
entry-type {
  display: inline-block;
  color: purple;
}

blue-text-bracket::before,
entry-type::before {
  content: '[';
}

red-text-bracket::after,
entry-type::after {
  content: '] ';
}